header{
    background: #FAF9F7;

    padding: 4px;

    display: flex;
    height: 80px;

}

.logo{

    min-width: 200px;
    text-align: center;
    padding: 8px;
    font-size: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & h1{
        margin: 0;
    }
}

.links-content{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    
}

.link-box{
    width: 450px;

    display: flex;
    justify-content: space-between;
}



.link-box a{
    text-decoration: none;
    color: #344049;
} 

.link-box a:hover{
    color: #8A9070;
}

.link-box a:active{
    color: #6F745A;
}

/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/

@media (max-width: 768px) {

    header{
        height:max-content ;
        flex-direction: column;
    }

    .link-box{
        width: 450px;

        display: flex;
        justify-content: center;
        gap: 18px;
    }
}