
/* estilos comunes */

.container-task{
    background-color: #fefefe;
    height: 150px;
    margin: 8px 0;
    border-radius: 18px;
    border: 2px solid rgb(150, 149, 149);
}

.descriptionTask{
    font-weight: 400;
}

.titleTask,
.descriptionTask{
    padding: 0 8px;
}

/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/
@media (max-width: 640px) {

    .container-task{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .row-th{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .buttons-th{
            display: flex;
            justify-content: center;
        }
    }
    
}


@media (min-width: 641px) and (max-width:768px){
    .container-task{
        min-width: 80%;
    }

    .row-th{
        display: flex;
        justify-content: space-around;
    }
    .titleTask{
        width: 80%;
    }

    .buttons-th{
        display: flex;
        justify-content: flex-end;
        width: 150px;
    }
}

@media (min-width: 769px) and (max-width: 1920px) {

    .container-task{
        min-width: 750px;
        max-width: 90vw;
    }


    .titleTask{
        width: 80%;
        height: 30px;
    }

    .buttons-th{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 150px;
    }

}


