.container-task{
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    
}

.container-task:first-child{
    margin: 170px 0;
}

.container-task:last-child{
    margin-bottom: 160px;
}

table{
    border: 2px solid;
    width: 600px;
    height: 150px;
    background-color: #FEFEFE;

    text-align: start;

    border-radius: 18px;

}

.buttons-th{
    background-color: lightgreen;
    width: 200px;
}
.container-task:hover{
    margin: 12px 0;
}

.container-task table:hover{
    transform:scale(1.2);
    animation: transform .5s ease-out;
}



@keyframes transform{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}



/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/

@media (max-width: 640px) {

    .container-task{
        width: 100vw;
        height: max-content;
        padding: 8px;
        display: flex;
        justify-content: center;
    }

    table:hover{
        margin-top: 12px;
        animation: margin .5s ease-in;
    }

    .row-th{
        display: flex;
        flex-direction: column;

        & th{
            width: 100%;
            height: 30px;
        }
    }

    .container-task table:hover{
        transform:scaleY(1.3);
        animation: transform .5s ease-in;
    }



    @keyframes transform{
        from{
            transform: scaleY(1);
        }
        to{
            transform: scaleY(1.3);
            
        }
    }

    @keyframes margin{
        from{
            margin: 12px;
        }
        to{
            margin: 35px;
        }
    }

}