
.home-content{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-box{
    /* background-color: blue; */
    width: 50%;
    height: fit-content;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.5rem;
}

.home-box p{
    padding: 4px 18px;
    font-size: 1.3rem;
    
}

.button-box{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.button-box :nth-child(1) button{
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.button-box :nth-child(1):hover{
    background-color: rgb(0, 103, 172);
    color: white;
    border: none;
    border-radius: 12px;
}

.button-box :nth-child(1):active{
    background-color: rgb(0, 60, 100);
    color: white;
    border: none;
    border-radius: 12px;
}

.button-box :nth-child(2) button{
    background-color: white;
    outline: 1px solid rgb(221, 221, 221);
    border: none;
    border-radius: 12px;
    cursor: pointer;

}

.button-box :nth-child(2):hover{
    background-color: rgb(184, 184, 184);
    color: black;
    border: none;
    border-radius: 12px;
}

.button-box :nth-child(2):active{
    background-color: rgb(0, 60, 100);
    color: white;
    border: none;
    border-radius: 12px;
}