
.home-content{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-box{
    /* background-color: blue; */
    width: 50%;
    height: fit-content;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.5rem;
}

.home-box p{
    margin: 0;
    padding: 4px 18px;
    font-size: 1.3rem;
    
}

.button-box{
    margin: 18px;
    display: flex;
    justify-content: space-evenly;
}




/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/

@media (max-width: 640px) {

    .home-box{
        width: 100%;
    }

    .button-box{
        min-height: 150px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}