
.button{
    width: 180px;
    height: 50px;
    padding: 12px 8px;

    font-size: 1rem;
    font-weight: bold;

    border-radius: 18px;
}

/* guardar, nueva tarea */
.primary{
    border: #C3C2C5;
    color: #fff;
    background-color: #8A9070;
}
.primary:hover{
background-color: #7C815F;
}

.primary:active{
background-color: #6F7452;
}

/* ver tareas, cancelar */
.secundary{
    border: #C3C2C5;
    color: #fff;
    background-color:#B6A297;
}
.secundary:hover{
background-color: #A89387;
}

.secundary:active{
background-color: #9C897F;
}

/* eliminar */

.delete{
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    & img{
        width: 25px;
        height: 25px;
    }
}

/* cambiar el estado de la tarea */

.stateComplete{
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    & img{
        width: 25px;
        height: 25px;
    }
}

.statePendat{
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    & img{
        width: 25px;
        height: 25px;
    }
}