
.newtask-container{
    background: #FAF9F7;
    width: 700px;
    height: 100vh;
    padding: 18px;

    border-radius: 12px;

    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
}

.newtask-container h2{
    font-size: 2.5rem;
    margin: 0;
}

.newtask-container p{
    font-size: 1.5rem;
    margin: 0;
}

.box-input{
    height: 650px;

    padding: 8px;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.box-input .task-title,
.box-input .task-description,
.box-input .task-date-expiration{

    display: flex;
    flex-flow: column;
    text-align: start;
}

.task-title{
    height: 110px;

    display: flex;
    flex-flow: column;
    gap: 14px;
}

.task-title input{
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: 2px solid lightgrey;
    font-size: 1.2rem;

}

.task-description{
    height: 180px;
    display: flex;
    flex-flow: column;
    gap: 14px;
}

.task-description #description{
    height: 70%;

    border-radius: 8px;
    border: none;
    outline: 2px solid lightgrey;
    font-size: 1.2rem;
    resize: none;
}

.task-date-expiration{
    display: flex;
    flex-flow: column;
    gap: 14px;
}


.task-date-expiration input{
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: 2px solid lightgrey;
    font-size: 1.2rem;

}


/* button */

.box-button{
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    
}

.box-button :nth-child(1){
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    outline: 2px solid rgb(186, 194, 202);
    border-radius: 12px;
    cursor: pointer;
    font-weight: bolder;
}

.box-button :nth-child(2){
    width: 100px;
    background-color: rgb(0, 153, 255);
    outline: 1px solid rgb(221, 221, 221);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;

    font-size: 1rem;
    font-weight: bold;

}

.box-button :nth-child(1):hover{
    background-color: rgb(0, 103, 172);
    color: white;
    border: none;
    border-radius: 12px;
}

.box-button :nth-child(2):hover{
    background-color: rgb(0, 103, 172);
    color: white;
    border: none;
    border-radius: 12px;
}

.box-button :nth-child(1):active{
    background-color: rgb(0, 60, 100);
    color: white;
    border: none;
    border-radius: 12px;
}
.box-button :nth-child(2):active{
    background-color: rgb(0, 60, 100);
    color: white;
    border: none;
    border-radius: 12px;
}


/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/

/* @media (max-width: 768px) {

    
} */


@media (max-width: 640px) {

    .newtask-container{
        background: #FAF9F7;
        width: 700px;
        height: 100vh;
        padding-top: 14px;
        
        display: flex;
        flex-flow: column;
        text-align: center;

        & h2{
            font-size: 1.5em;
        }

        & p {
            font-size: 1em;
        }
    }

    .box-button{
        margin-top: 18px;
        display: flex;
        justify-content: space-evenly;
        gap: 18px;
    }

}