:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* background-color: lightsteelblue; */
}
