
.task-list-container{
    width: 100vw;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.table-task-box{
    width: 950px;
    height: max-content;
    padding: 18px;

    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
/* 
    scrollbar-width:thin;
    overflow-y: scroll;
    overflow-x: hidden; */
}


@media (max-width: 640px) {

    h1{
        margin: 0;
    }

    .task-list-container{
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .table-task-box{
        width: 100vw;
        height: max-content;
        padding: 0;
        scrollbar-width: thin;
        overflow-y:auto;
        overflow-x: hidden;
    }

    
}