/* estilos comunes */


/* 
sm: 640px
md: 768px
lg: 1024px
xl: 1280px 
*/
@media (max-width: 640px) {
    
    .task-list-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        
    }
    
    .table-task-box{
        width: 100vw;
        height: 950px;
        padding: 16px;
    
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    h1{
        margin: 0;
    }

    .task-list-container{
        padding:18px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media (min-width: 641px) and (max-width:768px){
    .task-list-container{
        width: 100vw;
        height:800px;
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: auto;

    }

    .table-task-box{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow-y: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}